.obs{color: #92949b;}

h4{
  color: $independence;
  margin-top: 20px;
  margin-bottom: 20px;
}

.messages-container{
  // border: 1px solid  #555b6e;
  padding: 30px 20px;
  background-color: rgba(85, 91, 110, 0.15);
  border-radius: 5px;
  box-shadow: #555B6E25 0px 1px 4px;
  .form-group {
    margin: 0;
  }
}

.author{
  color:#555b6e;
}