.chatroom-title{
  color: #555b6e;
  border-bottom: 1px solid  #555b6e;

 }

.obs{color: #92949b;}

h4{
  color: #89b0ae;
  margin-top: 20px;
  margin-bottom: 20px;
}

.messages-container{
  border: 1px solid  #555b6e;
  padding: 20px;
  background-color: #e4f7f2;
  border-radius: 1%;
}

.author{
  color:#555b6e;
}