.procedure-card {
    width: 90vw;
    display: flex ;
    
    transition: 0.2s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 5vw;
}


.services {
    width: 63%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .service {
        height:  200px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 10px;
        padding: 10px 20px; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .procedures {
            display: flex;
            justify-content: flex-end;
        }
    }   
}
.dentist_button {
    div { 
        width: 7em;
    }
}

.procedure-card{
    display: flex;

}

.service-photo {
    width: 50vw;
}

.procedure-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
}

.procedure-info {
    display: flex;
    justify-content: space-between;
    width: 35vw;
    margin-left: 2vw;
    .procedure-info-title {
        width: 30%;
    
    }
    .procedure-info-content {
        line-break: auto;
        padding-left: 2vw;
        height: max-content;
    }        
}
.procedure-show-buttons {
    display: flex;
    justify-content: space-between;
}
