<footer>
  <div class="footer-box">
      <div id="social d-flex flex-start">
        <ul class="social-network">
          <li><%= link_to "https://pt-br.facebook.com/", target: :_blank do %>
            <i class='fab fa-facebook-f'></i>
          <% end %></li>
          <li><%= link_to "https://www.instagram.com/", target: :_blank do %>
            <i class='fab fa-instagram'></i>
          <% end %></li>
          <li><%= link_to "https://api.whatsapp.com/send?phone=550&text=Ol%C3%A1!", target: :_blank do %>
            <i class='fab fa-whatsapp'></i>
          <% end %></li>
        </ul>       
      </div>
      <div id="copy d-flex flex-end">
          <p>&copy; Produzido por Clique Sorriso</p>
      </div>
  </div>
</footer>