.page-index {
    margin: 20px;
    
}

.appointments-title {
    color: $morning-blue;
    border-bottom: 1px solid $independence;
    margin-bottom: 20px;
    h2, h4 {
        display: inline-block;
    }
    i {
        font-size: 20px;
        margin-right: 0.5rem;
    }
}

.inactive {
    display: none;
}

.content {
    padding: 20px 40px;
}

.profile-div {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: #555B6E25 0px 1px 4px;
    border-radius: 5px;
}

.btn-mm {
    text-decoration: none;
    color: $cultured;
}

.profile-pic {
    margin: 20px;    
}

.appointment-card {
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: #555B6E25 0px 1px 4px;
    border-radius: 5px;
    padding: 10px;
}


.today {
    border: solid $independence;

    #today {
        display: inline;
    }

    h6 {
        color: $independence;
        font-weight: bolder;
    }
}

.is-dentist-profile-tag{
  border: 1px solid  #89b0ae;
  width: 50%;
  text-align: center;
  color: #89b0ae;
}
