.new-appointment-title{
  margin-top: 25px;
  border-bottom: 1px solid #89b0ae;
  h1{
    color: #89b0ae;
  }
}

.blue-title-new-appointment{
  color: #555b6e;
  label {
    color: #555b6e;
    font-size: 19px;
  }
  h5 {
    margin-top: 3vh;
  }
  input {
    border-radius: 10px;
  }
}

.form-for-new-appointment{
  margin-top: 15px;
}

.btn-add-procedure{
  text-decoration: none;
  color: #FAF9F9;
  background-color: #89B0AE;
  border-color: #89B0AE;

  &:hover{
    background-color: #89b0ae;
    color: white;
    border: 1px solid #89b0ae;
  }
}
