.videocall-title{
  color: #555b6e;
  border-bottom: 1px solid  #555b6e;
}

.videocall-appoint-info{
  border: 1px solid #89b0ae;
  width: 15vw;
  text-align: center;
  padding: 15px;
  background-color: #bee3db;
  color:#555b6e;
}