<div class="banner">
  <div class="banner-container d-flex">
    <div class="banner-logo">
      <i class="fas fa-tooth logo-white"></i>
    </div>
    <div class="banner-text ml-3">
      <h1>Doctor Smile</h1>
      <p class="subtitle">Saúde bucal na palma da sua mão</p>
      <%= link_to "Marque uma Consulta", new_appointment_path, class: 'banner-link' %>

    </div>
  </div>
</div>
<div class="application-infos d-flex p-4">
  <div class="application-info-container d-flex flex-column align-items-center w-100">
    <div class="application-info-icon mb-4">
      <%= link_to new_appointment_path do %>
        <i class="fas fa-calendar-alt icon-style"></i>
      <% end %>
    </div>
    <div class="application-info-title">
      <h3>Agendamento online</h3>
    </div>
    <div class="application-info-description text-center">
      <span>Marque suas consultas através de nossa plataforma</span>
    </div>
  </div>
   <div class="application-info-container d-flex flex-column align-items-center  w-100">
    <div class="application-info-icon mb-4">
      <%= link_to new_appointment_path do %>
        <i class="far fa-comment-dots icon-style"></i>
      <% end %>
    </div>
    <div class="application-info-title">
      <h3>Chat online e vídeo</h3>
    </div>
    <div class="application-info-description text-center">
      <span>Converse com um de nossos doutores antes da consulta presencial</span>
    </div>
  </div>
   
   <div class="application-info-container d-flex flex-column align-items-center  w-100">
    <%= link_to laboratories_path do %>
      <div class="application-info-icon mb-4">
        <i class="fas fa-map-marker-alt icon-style"></i>
      </div>
    <% end %>
    <div class="application-info-title">
      <h3>Localização de Laboratórios</h3>
    </div>
    <div class="application-info-description text-center">
      <span>Encontre o laboratório parceiro mais próximo de você</span>
    </div>
  </div>
</div>
