.dentists-list-title{
  color: #89b0ae;
  border-bottom: 1px solid #555b6e;
}

.dentists-cards-container{
  height: 70vh;
}

.dentist-card{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 5px;
  padding: 12px;
  height: 30%;
  &:hover{
    background-color: #bee3db;
  }
}

.dentist-card-avatar-img{
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.dentist-card-avatar{
  margin-right: 22px;
  width: 15%;
}

.dentist-card-infos{
 width: 80%;
}
.dentist-card-infos-name-link{
  text-decoration: none;
  color: #555b6e;
  font-weight: bold;
  font-size: 24px;
  &:hover{
    text-decoration: none;
    color: #89b0ae;
  }
}

.dentist-card-infos-specialty{
  color: #79819b;
  margin-top: 5px;
}

.dentist-card-infos-cro{
  color: #79819b;
}

.fa-ellipsis-v{
  color: #79819b;
}