.dentists-list-title{
  color: #89b0ae;
  border-bottom: 1px solid #555b6e;
}

.dentist-card{
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: #555B6E25 0px 1px 4px;
  border-radius: 5px;
  padding: 12px;
  color: $independence;
  &:hover{
    background-color: #bee3db;
    color: #89b0ae;
    text-decoration: none;
  }
  span:hover{
    text-decoration: none;
  }
}

.dentist-card-avatar-img{
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
}

.dentist-card-avatar{
  margin-right: 22px;
}

.dentist-card-infos-name{
  width: 80%;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
}