.btn-new {
  border: 1px solid #89b0ae;
  padding: 8px 24px;
  border-radius: 50px;
  width: 200px;
  height: 60px;
  color: #89b0ae;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    color: #555b6e;
    border: 1px solid  #555b6e;
  }
}
  

.dentist-show-avatar{
  border-radius: 50%;
}

.dentist-show-title{
  color:#89b0ae;
}

.dentist-info{
  color: #6d748d;
  font-size: 20px;
}

.dentist-show-procedure-card{
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 5px;
  padding: 12px;
  height: 15%;
}

.procedure-title{
  color: #89b0ae;
}

.dentist-show-procedure-title{
  color:#555b6e;
  font-size: 24px;
}

.dentist-show-procedure-description{
  color:gray;
}

.dentist-show-procedure-img-div{
  width: 8%;
}

.dentist-show-procedure-img{
  width: 100%;
  object-fit: cover;
}