.procedures-cards{
  width: 90%;
  margin: 0 auto;
}

.procedure-card{
  width: 100%;
  height: 50%;
}

.procedure-img-container{
  width: 30%;
}

.procedure-service-photo{
  object-fit: cover;
  width: 100%;
}