<h1>Procedures#new</h1>
<p>Find me in app/views/procedures/new.html.erb</p>

<% dentist_names = {} %>
<% Dentist.all.each do |d| %>
  <% dentist_names[(d.user.last_name + " " + d.user.last_name).to_sym] = d.id  %>
<% end %>

<%= simple_form_for [@dentist, @procedure] do |f| %>

<%= f.input :dentist, collection: dentist_names %>
<%= f.input :service, collection: Service.all %>

<%= f.button :submit %>

<% end %>
